@import "auth/auth";
@import "colors/colors";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: SansSerif, sans-serif, "Arial Black";
  background-color: #ffffff;

}

.header, .footer {
  height: 30px;
  background: greenyellow;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  background-color: #e6dada;
  padding: 5%;
  margin-top: 5%;
  border-radius: 8px;
  color: #7b0002;
  font-weight: bold;
  font-size: 24px;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
