.auth {
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  background-color: #7b0002;

  &__form {

    &__title {
      display: flex;
      justify-content: center;
      background-color: @color-title-background;
      padding: 5%;
      margin-bottom: 5%;
      border-radius: 8px;
      color: @color-title-color;
      font-weight: bold;
      font-size: 24px;
    }

    &__input {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__label {
        margin: 8px;
        color: #ffffff;
        font-weight: bold;
        font-size: 18px;
      }

      &__field {
        outline: 0;
        color: #fff;
        border: none;
        background: none;
        padding: 0;
        outline: none;
        text-align: center;
      }
    }
  }
}

.auth-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
