<div class="auth">
  <form class="auth__form"
        [formGroup]="form">
    <div>
      <!--<span class="auth__form__title">Registration</span>-->
      <div class="auth__form__input">
        <label for="username"
               class="auth__form__input__label">Username:
        </label>
        <input class="auth__form__input__field"
               formControlName="username"
               id="username"
               type="text">
      </div>
      <div class="auth__form__input">
        <label for="firstName"
               class="auth__form__input__label">First Name:
        </label>
        <input class="auth__form__input__field"
               formControlName="firstName"
               id="firstName"
               type="text">
      </div>
      <div class="auth__form__input">
        <label for="lastName"
               class="auth__form__input__label">Last Name:
        </label>
        <input class="auth__form__input__field"
               formControlName="lastName"
               id="lastName"
               type="text">
      </div>
      <div class="auth__form__input">
        <label for="password"
               class="auth__form__input__label">Password:
        </label>
        <input class="auth__form__input__field"
               formControlName="password"
               id="password"
               type="password">
      </div>
    </div>
    <div>
      <div class="button"
           (click)="onSubmit()">
        Registration
      </div>
    </div>
  </form>
</div>
