<div class="auth">
  <form class="auth__form"
        [formGroup]="form">
    <div>
      <!--<span class="auth__form__title">Sign In</span>-->
      <div class="auth__form__input">
        <label for="username"
               class="auth__form__input__label">Username:
        </label>
        <input class="auth__form__input__field"
               formControlName="username"
               id="username"
               type="text">
      </div>
      <div class="auth__form__input">
        <label for="password"
               class="auth__form__input__label">Password:
        </label>
        <input class="auth__form__input__field"
               formControlName="password"
               id="password"
               type="password">
      </div>
    </div>
    <div>
      <div class="button"
           (click)="onSubmit()">
        Login
      </div>
    </div>
  </form>
</div>
